.Toolbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row;
  margin-top: 20px;
  margin-left: 10px;
  height: 240px;
  width: 1px; }

.tools-left-wrapper {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -webkit-flex-flow: column; }
  .tools-left-wrapper button {
    height: 40px; }

.tools-right-wrapper {
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  -webkit-flex-flow: column; }
  .tools-right-wrapper .title-wrapper {
    flex: 1;
    width: 200px; }
  .tools-right-wrapper .tools-inside-wrapper {
    flex: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-flex-flow: row; }
    .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper {
      flex: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column;
      -webkit-flex-flow: column; }
      .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-draw-all {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-draw-all button {
          flex: 1; }
      .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-invert {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-invert button {
          flex: 1; }
      .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-restart {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-restart button {
          flex: 1; }
      .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-colour {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tool-colour button {
          flex: 1; }
      .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .tool-erase-from-wrapper {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-flow: column;
          -webkit-flex-flow: column;
          flex: 1; }
          .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .tool-erase-from-wrapper button {
            flex: 1; }
        .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .colour-fromto-wrapper {
          flex: 1;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-flow: column;
          -webkit-flex-flow: column; }
          .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .colour-fromto-wrapper .tool-from-wrapper {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: row;
            -webkit-flex-flow: row;
            flex: 1; }
            .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .colour-fromto-wrapper .tool-from-wrapper input {
              width: 96px; }
          .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .colour-fromto-wrapper .tool-to-wrapper {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: row;
            -webkit-flex-flow: row;
            flex: 1; }
            .tools-right-wrapper .tools-inside-wrapper .tools-inside-aside-wrapper .tools-inside-bottom-wrapper .colour-fromto-wrapper .tool-to-wrapper input {
              width: 96px; }

/*# sourceMappingURL=index.css.map */
